form {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
}
form > input {
  padding: 0.7rem 1rem;
  flex: 1;
  font-size: 1rem;
}
form > input:focus {
  outline: none;
}
form > button {
  background: crimson;
  color: white;
  padding: 0.7rem 1.5rem;
  border: 0;
  border-radius: 0.3rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

form > button:active {
  transform: scale(1.2);
}
.clear-btn {
  padding: 0.7rem 3rem;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  border: 0;
  border-radius: 0.3rem;
  background-color: lightgrey;
  cursor: pointer;
  font-size: 1rem;
}
.clear-btn:active {
  transform: scale(1.2);
}
@media (max-width: 500px) {
  .clear-btn {
    width: 100%;
    padding: 1rem;
  }
}
